
<!DOCTYPE html>
<html lang="en" ng-app="cscotquizApp">
  <head>
    <meta charset="utf-8">
    <title>Creative Scotland Investments Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Creative Scotland Investments Quiz based on a Culture Hack Scotland 2013 project and dataset.">
    <meta name="author" content="Gavin Leake">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 780px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* main message */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
      
      /* buttons tweak */
      .btn-award {
        margin: 0.2em;
      }
      
      #score {
        cursor: pointer;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!--link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png"-->
                                   <link rel="shortcut icon" href="./favicon.png">
  </head>

  <body ng-controller="AwardListCtrl">

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <!--li class="active"><a href="#">Home</a></li-->
          <!--li><a href="#">About</a></li-->
          <li class="badge badge-info" id="score" ng-click="restart()">{{score}}</li>
        </ul>
        <h3 class="muted">Creative Scotland Investments Quiz</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h2>{{award.project_title}}</h2>
        <h3>{{award.applicant_name}}</h3>
        <p class="lead">{{award.council_area_name}} <span>({{award.date_decision_made}})</span></p>
        <p>{{award.short_description}}</p>
        <p class="muted"><small>Was this project awarded...</small></p>
        <button type="button" class="btn btn-large btn-primary btn-award"
            ng-repeat="value in values" ng-disabled="states[value]" ng-click="guess(value,award.award_made);">
                {{value}}
        </button>
      </div>

      <hr>

      <div class="footer">
        <p>Based on a <a href="http://www.welcometosync.com/hack/">Culture Hack Scotland</a> 2013 project by <a href="https://twitter.com/amazingrolo">Yann Seznec @amazingrolo</a>. Built by <a href="https://twitter.com/galvanist">Gavin @galvanist</a>. Code on <a href="https://github.com/galvanist/cscotquiz">Github</a>.</p>
      </div>

    </div> <!-- /container -->

    <!-- Modals -->
    <div id="no" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>No</h3>
      </div>
      <div class="modal-body">
        <p>That's rediculous</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Try Again</button>
      </div>
    </div>
    <div id="yes" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Totally</h3>
      </div>
      <div class="modal-body">
        {{lastAward.title}} was awarded {{lastAward.award_made}} on {{lastAward.date_decision_made}}...</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Next</button>
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/controllers.js"></script>

  </body>
</html>
